%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-angle-down {
	@extend %svg-common;
	background-position: 32.18142548596112% 33.333333333333336%;
}

%svg-angle-down-dims {
	width: 340px;
	height: 532px;
}

%svg-arrow-alt-circle-down {
	@extend %svg-common;
	background-position: 31.08433734939759% 66.66666666666667%;
}

%svg-arrow-alt-circle-down-dims {
	width: 532px;
	height: 532px;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 69.1415313225058% 0;
}

%svg-arrow-right-dims {
	width: 468px;
	height: 532px;
}

%svg-check {
	@extend %svg-common;
	background-position: 19.318181818181817% 94.10377358490567%;
}

%svg-check-dims {
	width: 432px;
	height: 432px;
}

%svg-exclamation-triangle {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

%svg-exclamation-triangle-dims {
	width: 596px;
	height: 532px;
}

%svg-facebook {
	@extend %svg-common;
	background-position: 69.1415313225058% 33.333333333333336%;
}

%svg-facebook-dims {
	width: 468px;
	height: 532px;
}

%svg-github {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

%svg-github-dims {
	width: 516px;
	height: 532px;
}

%svg-odnoklassniki {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-odnoklassniki-dims {
	width: 340px;
	height: 532px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 63.13253012048193% 66.66666666666667%;
}

%svg-plus-circle-dims {
	width: 532px;
	height: 532px;
}

%svg-search {
	@extend %svg-common;
	background-position: 100% 0;
}

%svg-search-dims {
	width: 532px;
	height: 532px;
}

%svg-telegram {
	@extend %svg-common;
	background-position: 96.2877030162413% 33.333333333333336%;
}

%svg-telegram-dims {
	width: 468px;
	height: 532px;
}

%svg-twitter {
	@extend %svg-common;
	background-position: 100% 66.66666666666667%;
}

%svg-twitter-dims {
	width: 532px;
	height: 532px;
}

%svg-vk {
	@extend %svg-common;
	background-position: 37.34335839598997% 0;
}

%svg-vk-dims {
	width: 596px;
	height: 532px;
}

%svg-youtube {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-youtube-dims {
	width: 596px;
	height: 532px;
}

