@import "variables";
@import "functions";
@import "extends";
@import "mixins";

/*main*/
.main{
	flex: 1 0 auto;
	position: relative;
	overflow: hidden;
	&, &__full-page{
		padding-top: 60px;
	}
	&__full-page{
		@extend %fwh;
	}
	&_fs{
		padding-top: 100vh;
	}
}

/* first screen */
.first-screen{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	&__head{
		position: relative;
		z-index: 2;
		background: $whop;
	}
	&__image{
		@extend %fwh;
	}
	&__title{
		font-size: 35px;
		font-weight: 700;
	}
	&__sub-tit{
		font-size: 20px;
		margin-top: 20px;
	}
	&__bottom{
		position: absolute;
		left: 0;
		bottom: 25px;
		width: 100%;
	}
}

/*section*/
.section{
	padding-top: 30px;
	padding-bottom: 30px;
}

/*list*/
.list{
	list-style: none;
	li{
		padding-left: 30px;
		margin-top: 30px;
		@include fch(t);
		position: relative;
		&:before{
			@extend %ab;
			position: absolute;
		}
	}
}
ul.list{
	li{
		&:before{
			width: 9px;
			height: 9px;
			left: 3px;
			top: 5px;
			border-radius: 50%;
			background: $be;
		}
	}
}
ol.list{
	counter-reset: listCounter;
	li{
		&:before{
			counter-increment: listCounter;
			content: counter(listCounter)".";
			color: $be;
			font-weight: 700;
			top: 0;
			left: 0;
		}
	}
}

/* title */
.title{
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: em(35,30);
}

/* article */
.article{
	h2{
		font-size: 22px;
		font-weight: 700;
		line-height: 1.3;
		margin-top: 35px;
		@include fch(t);
	}
	h3{
		font-weight: 700;
		line-height: 1.3;
		margin-top: 35px;
		@include fch(t);
	}
	p{
		line-height: 1.5;
		margin-top: 20px;
		@include fch(t);
	}
}

/* post */
.post{
	&__thumb{
		img{
			width: 100%;
			height: auto;
		}
		a{
			transition: .5s;
			&:hover{
				opacity: .7;
			}
		}
	}
	&__tit{
		font-size: 23px;
		line-height: 1.3;
		margin: 5px 0 15px;
	}
	&__exc{
		font-size: 15px;
		line-height: 1.5;
		max-width: 90%;
	}
}

/* sidebar */
.sidebar{
	max-width: 260px;
	flex-basis: 260px;
	& > div{
		background: $llgy;
		padding: 15px;
	}
	&__section{
		margin-top: 25px;
		@include fch(t);
		h2{
			font-size: 18px;
			font-weight: 700;
			margin-top: 25px;
			@include fch(t);
		}
		p{
			font-size: 14px;
			line-height: 1.35;
			margin-top: 15px;
			@include fch(t);
		}
	}
	&__post{
		margin-top: 15px;
		h3{
			line-height: 1.3;
		}
		p{
			margin-top: 10px;
		}
	}
}